bin/
cmakebuild/
cmake-*/
build*/
time_compilation_build/
CMakeFiles/
*.xcodeproj
.vscode/**
.vs
.idea
!.vscode/settings.json
testmaps/**/*.bsp
!testmaps/compiled/*.bsp
**/*-decompile*.map
testmaps/**/*.bsp.qbsplog
testmaps/**/*.log
testmaps/**/*.prt
testmaps/**/*.lit
testmaps/**/*.obj
testmaps/**/*.pts
testmaps/**/*.vis
testmaps/**/*.texinfo
testmaps/**/*.texinfo.json
testmaps/**/*.bsp.json
testmaps/**/*.chop.map
**/autosave
CMakeSettings.json
sphinx-venv
**/__pycache__
*-env
