bin/
cmakebuild/
cmake-*/
build*/
time_compilation_build/
CMakeFiles/
*.xcodeproj
.vscode/**
.vs
.idea
!.vscode/settings.json
testmaps/**/*.bsp
!testmaps/compiled/*.bsp
**/*-decompile*.map
testmaps/**/*.bsp.qbsplog
testmaps/**/*.log
testmaps/**/*.prt
testmaps/**/*.lit
testmaps/**/*.obj
testmaps/**/*.pts
testmaps/**/*.vis
testmaps/**/*.texinfo
testmaps/**/*.texinfo.json
testmaps/**/*.bsp.json
testmaps/**/*.chop.map
**/autosave
CMakeSettings.json
sphinx-venv
**/__pycache__
*-env
3rdparty/CMakeFiles
3rdparty/cmake_install.cmake
3rdparty/Makefile
docs/docs
light/CMakeFiles
light/cmake_install.cmake
light/Makefile
light/light
light/lib*
vis/CMakeFiles
vis/cmake_install.cmake
vis/Makefile
vis/vis
vis/lib*
qbsp/Makefile
qbsp/CMakeFiles
qbsp/cmake_install.cmake
qbsp/qbsp
qbsp/lib*
bspinfo/Makefile
bspinfo/CMakeFiles
bspinfo/cmake_install.cmake
bspinfo/bspinfo
bspinfo/lib*
bsputil/Makefile
bsputil/CMakeFiles
bsputil/cmake_install.cmake
bsputil/bsputil
bsputil/lib*
maputil/Makefile
maputil/CMakeFiles
maputil/cmake_install.cmake
maputil/maputil
maputil/lib*
common/lib*
lightpreview/Makefile
lightpreview/CMakeFiles
lightpreview/cmake_install.cmake
lightpreview/lightpreview
lightpreview/lightpreview_autogen
lightpreview/lib*
tests/Makefile
tests/CMakeFiles
tests/cmake_install.cmake
tests/tests
tests/lib*
testmaps.hh
cmake_install.cmake
Makefile
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestConfig.cmake
CTestTestfile.cmake
docs/CTestTestConfig.cmake
docs/CTestTestfile.cmake
docs/cmake_install.cmake
docs/Makefile
docs/CMakeFiles/
docs/CMakeCache.txt
lib/lib*
install_manifest.txt
_deps/
