[submodule "lib/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent
[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench
[submodule "3rdparty/subprocess.h"]
	path = 3rdparty/subprocess.h
	url = https://github.com/sheredom/subprocess.h
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "3rdparty/delabella"]
	path = 3rdparty/delabella
	url = https://github.com/msokalski/delabella.git
	branch = hybrid
