image:
  - Visual Studio 2019
platform:
- x64

version: 1.0.{build}
install:
- ps: Invoke-WebRequest 'https://github.com/embree/embree/releases/download/v3.12.1/embree-3.12.1.x64.vc14.windows.zip' -OutFile 'embree64.zip'
- ps: 7z x embree64.zip -oc:\
- ps: Invoke-WebRequest 'https://github.com/oneapi-src/oneTBB/releases/download/v2020.2/tbb-2020.2-win.zip' -OutFile 'tbb.zip'
- ps: 7z x tbb.zip -oc:\
build_script:
- cmd: powershell .\build-appveyor.ps1
artifacts:
- path: cmakebuild\*.zip
